<h1>Editing Room</h1>

<%= turbo_frame_tag "calendar-#{params[:date]}" do %>
  <%= form_with(model: @room) do |form| %>
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

        <ul>
          <% @room.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= form.label :start_time %>
      <%= form.date_field :start_time %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <div>
      <%= link_to 'Delete', room_path(@room), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <div>
      <%= link_to 'Cancel', rooms_path %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Show', @room %> |
<%= link_to 'Back', rooms_path %>
